
.dashboard-container {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.dashboard-container h1 {
  font-size: 2.5rem;
  color: #03AED2;
  margin: 20px;
}

.courses-container {
  display: flex;
  flex-direction: column; /* Stack the rows vertically */
  align-items: center; /* Center all content inside courses-container */
  gap: 20px;
}

.row {
  display: flex;
  justify-content: center;  /* Center the items in the row */
  gap: 250px; /* Space between the courses */
}

.course-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 350px; /* Give each course-item a fixed width */
}

.course-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
}

.course-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-item p {
  font-size: 1.2rem;
  color: #03AED2;
  margin-top: 10px;
  font-weight: 600;
}

.course-item:hover p {
  color: #FDDE55; /* Hover effect for text */
}

.course-item:hover .course-circle {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

