
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
  }
  
  .home-container h1 {
    font-size: 3rem;
    color: #03AED2;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .start-button {
    background-color: #FDDE55; 
    padding: 15px 30px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #68D2E8;
  }
  