* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  h1, h2, h3, h4 {
    font-weight: bold;
  }
  
  button {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #03AED2; 
  }
  